.venv/
venv/
env/
ENV/
*.venv

.env
.env.*
!.env.example
.vercel/

db.sqlite3
db.sqlite3-journal

__pycache__/
*.py[cod]
*$py.class
*.so 

/staticfiles/
/media/

*.log
.cache/

.vscode/
.idea/
.DS_Store
Thumbs.db