<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "global/head.html" %}
</head>
<body class="p-4 sm:p-8">

  <nav class="nav-wrapper" aria-label="Navegação Principal">
    <div class="nav-dock">
      <a href="{% url 'portfolio:home' %}" class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        Sobre mim
      </a>
      <a href="{% url 'portfolio:projects' %}" class="nav-item {% if request.resolver_match.url_name == 'projects' or request.resolver_match.url_name == 'project_detail' %}active{% endif %}">
        Projetos
      </a>
      <a href="{% url 'portfolio:education' %}" class="nav-item {% if request.resolver_match.url_name == 'education' %}active{% endif %}">
        Formação
      </a>
    </div>
  </nav>

  <main class="container-main">
    {% block content %}
    {% endblock content %}
  </main>

</body>
</html>